* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1em;
}
